# Build outputs
build
*.exe
*.o
*.out
*.log

# Backups
*~
*.c~
*.h~
*.bak

# Testing files
extra
op_tests
results
*.cpu
*.scpu
*.cmd
*.bin

# Editor
.emacs.desktop
.emacs.desktop.lock
\#*

# Debugger debugging
.gdb_history

