# Build outputs
build
*.exe
*.o
*.out
*.log
CMakeFiles
cmake_install.cmake
CMakeCache.txt
Makefile
.ninja_log
.ninja_deps

# Backups
*~
*.c~
*.h~
*.bak

# Testing files
extra
op_tests
results
*.cpu
*.scpu
*.cmd
*.bin
.sim_history

# Editor
.emacs.desktop
.emacs.desktop.lock
\#*

# Debugger debugging
.gdb_history

